Repository jorenham/classy-events: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, pytest, pytest-cov

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: python -m isort
        types: [python]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: python -m black --line-length 80
        types: [python]

      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: python -m flake8
        types: [python]
        exclude: setup.py

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: python -m mypy
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: python -m pytest
        types: [python]
        pass_filenames: false

      - id: pytest-cov
        name: pytest
        stages: [commit]
        language: system
        entry: python -m pytest --cov-report term-missing --cov --cov-fail-under=60
        types: [python]
        pass_filenames: false

more tests
  .pre-commit-config.yaml
  classy_events/events.py
  tests/test_events.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Event lock as RLock to avoid deadlocks when calling handler methods from within listeners
  classy_events/events_threaded.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Basic usage example
  README.md
Due: none

versioning fixes
  setup.py
Due: isort, black, mypy, pytest, pytest-cov

bump to 0.1.0
  VERSION
Due: none

better threaded events in v0.2.0
  VERSION
  classy_events/events.py
  classy_events/events_threaded.py
  tests/test_events_threaded.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

fixed counts for ignored events
  VERSION
  classy_events/events_threaded.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

`deferred` option to optionally run listeners in a threadpool
  VERSION
  classy_events/events_threaded.py
  tests/test_events_threaded.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

allow syncing + deferring
  VERSION
  classy_events/events_threaded.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

collect_deferred method for iterating deferred futures
  VERSION
  classy_events/events_threaded.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

removed exception handlers
  classy_events/events_threaded.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

paremetrized tests for all event handler types
  tests/test_events_threaded.py
  tests/test_handlers.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

defer tests
  tests/test_threaded_handlers.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

don't rely on generics at runtime
  classy_events/events.py
  classy_events/events_threaded.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

version bump
  VERSION
Due: none

added missing import
  VERSION
  classy_events/events_threaded.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

fixed bug where .wait() always called shutdown()
  VERSION
  classy_events/events_threaded.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

race condition fix for shutdown
  VERSION
  classy_events/events_threaded.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

threadpool per listener
  VERSION
  classy_events/events_threaded.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

shutdown threaded event listener pools bug fix
  VERSION
  classy_events/events_threaded.py
  tests/test_threaded_handlers.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

shutdown threaded event listener pools bug fix
  classy_events/events_threaded.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

bump to 0.3.2
  VERSION
Due: none

github actions for testing and releasing
  .github/workflows/pre-commit.yml
  .github/workflows/publish-release.yml
Due: none

formatting fixes
  classy_events/events.py
  classy_events/events_threaded.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

formatting fixes
  tests/test_handlers.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

cancel listeners that timeout on collection/shutdown without waiting
  VERSION
  classy_events/events_threaded.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

multiple inheritance fix
  VERSION
  classy_events/events.py
  tests/test_handlers.py
Due: isort, black, flake8, mypy, pytest, pytest-cov
